# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable less-than-slash': 'less-than-slash:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'less-than-slash'
      'submenu': [
        { 'label': 'Toggle', 'command': 'less-than-slash:toggle' }
      ]
    ]
  }
]
